streamlit
Pillow
streamlit-image-coordinates
opencv-python
pyngrok
pyyaml
tqdm
numpy
easydict
scikit-image
scikit-learn
opencv-python
tensorflow
joblib
matplotlib
pandas
albumentations
hydra-core
pytorch-lightning
tabulate
kornia==0.5.0
webdataset
packaging
scikit-learn
wldhx.yadisk-direct
jpeg4py
lmdb
timm
clip-interrogator